node_modules/
android/.gradle/
android/app/build/intermediates/
android/app/build/generated/
android/app/build/tmp/
android/app/build/.transforms/
android/app/build/outputs/apk/debug/app-debug.apk
android/app/build/outputs/apk/release/app-release.apk
android/app/build/outputs/apk/debug/output-metadata.json
android/app/build/outputs/apk/release/output-metadata.json
android/app/build/outputs/logs/
android/app/build/outputs/sdk-dependencies/
android/app/build/.npmkeep
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/assets/public/assets/
android/app/src/main/assets/public/avatars/
android/app/src/main/assets/public/cordova.js
android/app/src/main/assets/public/cordova_plugins.js
android/app/src/main/assets/public/vite.svg
android/app/src/main/res/
android/capacitor-cordova-android-plugins/
android/local.properties
*.idsig
